@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.elevating {
  &__content {
    margin: 0 auto rem(60);
    width: 100%;
    max-width: 656px;
    text-align: center;
  }

  &__swiper {
    overflow: hidden;
    position: relative;
    // margin-right: -20%;
    // margin-left: -20%;
  }

  &__nav {
    position: absolute;
    top: 50%;
    .btn {
      &.swiper-button-disabled {
        opacity: 0.2;
        pointer-events: none;
      }

      &--prev {
        left: 30px;
        scale: -1 1;
      }
    }
  }
}
