@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.footer {
  padding: rem(60) 0;
  background-color: var(--color-grey-200);

  &__bottom {
   padding: 20px 0;
   background-color: var(--color-white);

    p {
      line-height: 1.33;
      letter-spacing: 0;
    }
  }

  .logo {
    margin-right: 16px;
  }

  @include media(mobile-l) {
    .logo {
      margin-right: 0;
    }
  }
}
